<div class="jumbotron">
    <h1>CoreServer</h1>
    <p class="lead">CoreServer is a server running on the internal TOWER network that helps users of CoreSuite share files, stay secure and collaborate.</p>
    <p><a href="https://coreserver.core" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Congragulations. If you're seeing this, you're connected to the internal TOWER network either directly or via a VPN. You can now utilize the full functionality of CoreSuite!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
