<div class="jumbotron">
    <h1>Welcome to DRX Editor.</h1>
    <p class="lead">Welcome to the DRX Editor. The quote of the day is "Well begun is never half done."</p>
    <p><a href="https://coreserver.core" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>